@model IEnumerable<Web.AmazingLadies.Models.LadyModel>
@{
    ViewData["Title"] = "Amazing Ladies Overwatch";
}
<div id="accordion" role="tablist">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <a data-toggle="collapse" href="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
                <div class="row">
                    <div class="col">
                        <h5 class="title">Filters</h5>
                    </div>
                    <div class="col text-right">
                        <p id="RecapFilters"></p>
                    </div>
                </div>
            </a>
        </div>
        <div id="collapseFilter" class="collapse @ViewData["HasFilter"]" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <form asp-action="Index" method="get">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="BattleNetAccount">Server</label><br />
                                <div class="btn-group" data-toggle="buttons" aria-describedby="ServerHelp">
                                    <label class="btn btn-secondary @ViewData["s-u_c"]">
                                        <input type="checkbox" name="filters[s-u]" id="USckb" autocomplete="off" @ViewData["s-u"]> US
                                    </label>
                                    <label class="btn btn-secondary @ViewData["s-e_c"]">
                                        <input type="checkbox" name="filters[s-e]" id="EUckb" autocomplete="off" @ViewData["s-e"]> EU
                                    </label>
                                    <label class="btn btn-secondary @ViewData["s-k_c"]">
                                        <input type="checkbox" name="filters[s-k]" id="KRckb" autocomplete="off" @ViewData["s-k"]> KR
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="BattleNetAccount">Role(s)</label><br />
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-secondary @ViewData["r-d_c"]">
                                    <input type="checkbox" name="filters[r-d]" id="DPSckb" autocomplete="off" @ViewData["r-d"]> DPS
                                </label>
                                <label class="btn btn-secondary @ViewData["r-t_c"]">
                                    <input type="checkbox" name="filters[r-t]" id="Tankckb" autocomplete="off" @ViewData["r-t"]> Tank
                                </label>
                                <label class="btn btn-secondary @ViewData["r-s_c"]">
                                    <input type="checkbox" name="filters[r-s]" id="Supportckb" autocomplete="off" @ViewData["r-s"]> Support
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <label for="BattleNetAccount">Mode(s)</label><br />
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-secondary @ViewData["m-c_c"]">
                                    <input type="checkbox" name="filters[m-c]" id="compckb" autocomplete="off" @ViewData["m-c"]> Competitive
                                </label>
                                <label class="btn btn-secondary @ViewData["m-q_c"]">
                                    <input type="checkbox" name="filters[m-q]" id="quickcbk" autocomplete="off" @ViewData["m-q"]> Quick
                                </label>
                                <label class="btn btn-secondary @ViewData["m-a_c"]">
                                    <input type="checkbox" name="filters[m-a]" id="arcadeckb" autocomplete="off" @ViewData["m-a"]> Arcade
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Go</button>
                        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Ladies")'">Reset filters</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Nickname) </a>
            </th>
            <th>
                BattleTag
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SRSortParam"]">Season Rating</a>
            </th>
            <th>
                Roles
            </th>
            <th>
                Preference
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lady in Model as List<LadyModel>)
        {
        <tr>
            <td>
                <span class="role">@Html.Partial("~/Content/Icons/Details.cshtml")</span>
            </td>
            <td>
                @if (!string.IsNullOrEmpty(lady.Overwatch.Avatar))
                    {
                <img src="@Url.Content(lady.Overwatch.Avatar)" class="avatarList rounded-circle" />
                    }
                @Html.DisplayFor(modelItem => lady.Nickname)
            </td>
            <td>
                <a href="@Html.Raw(lady.Overwatch.GetPlayOverwatchUrl())" target="_blank"> @Html.DisplayName(lady.Overwatch.BattleTag.Full) </a>
            </td>
            <td>
                <img class="rankImg" src="@Url.Content(lady.Overwatch.Rank.Image)" alt="@Html.Raw(lady.Overwatch.Rank.Name)" />
                @Html.DisplayFor(modelItem => lady.Overwatch.Rank.SR)
            </td>
            <td>
                <span class="role @if (lady.Overwatch.Roles.DPS) { @Html.Raw("activeIcon") }">
                    @Html.Partial("~/Content/Icons/DPS.cshtml")
                </span>
                <span class="role @if (lady.Overwatch.Roles.Tank) { @Html.Raw("activeIcon") }">
                    @Html.Partial("~/Content/Icons/Tank.cshtml")
                </span>
                <span class="role @if (lady.Overwatch.Roles.Support) { @Html.Raw("activeIcon") }">
                    @Html.Partial("~/Content/Icons/Support.cshtml")
                </span>
            </td>
            <td>
                <span class="role @if (lady.Overwatch.Modes.Competitive) { @Html.Raw("activeIcon") }">
                    @Html.Partial("~/Content/Icons/Competitive.cshtml")
                </span>
                <span class="role @if (lady.Overwatch.Modes.Quick) { @Html.Raw("activeIcon") }">
                    @Html.Partial("~/Content/Icons/Quick.cshtml")
                </span>
                <span class="role @if (lady.Overwatch.Modes.Arcade) { @Html.Raw("activeIcon") }">
                    @Html.Partial("~/Content/Icons/Arcade.cshtml")
                </span>
            </td>
        </tr>
        }
    </tbody>
</table>
