@using Web.AmazingLadies.Enums;
@model Web.AmazingLadies.Controllers.LadySearchViewModel
@{
    ViewData["Title"] = "Amazing Ladies Overwatch";
}
<div id="accordion" role="tablist" style="margin:10px 0">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="title">
                <a data-toggle="collapse" href="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter" class="SortingFilterName">
                    Filters
                </a>
            </h5>
        </div>
        <div id="collapseFilter" class="collapse @(Model.Filter.HasFilter ? "show" : "" )" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <form asp-action="Index" method="get">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="BattleNetAccount">Server</label><br />
                                <div class="btn-group" data-toggle="buttons" aria-describedby="ServerHelp">
                                    <label class="btn btn-secondary @(Model.Filter.Servers.Contains(ServersEnum.US) ? "active" : "")">
                                        <input type="checkbox" name="filters[s-u]" id="USckb" autocomplete="off" @(Model.Filter.Servers.Contains(ServersEnum.US) ? "checked" : "")> US
                                    </label>
                                    <label class="btn btn-secondary @(Model.Filter.Servers.Contains(ServersEnum.EU) ? "active" : "")">
                                        <input type="checkbox" name="filters[s-e]" id="EUckb" autocomplete="off" @(Model.Filter.Servers.Contains(ServersEnum.EU) ? "checked" : "")> EU
                                    </label>
                                    <label class="btn btn-secondary @(Model.Filter.Servers.Contains(ServersEnum.KR) ? "active" : "")">
                                        <input type="checkbox" name="filters[s-k]" id="KRckb" autocomplete="off" @(Model.Filter.Servers.Contains(ServersEnum.KR) ? "checked" : "")> KR
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <label for="BattleNetAccount">Role(s)</label><br />
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-secondary @(Model.Filter.Roles.Contains(RolesEnum.DPS) ? "active" : "")">
                                    <input type="checkbox" name="filters[r-d]" id="DPSckb" autocomplete="off" @(Model.Filter.Roles.Contains(RolesEnum.DPS) ? "checked" : "")> DPS
                                </label>
                                <label class="btn btn-secondary @(Model.Filter.Roles.Contains(RolesEnum.Tank) ? "active" : "")">
                                    <input type="checkbox" name="filters[r-t]" id="Tankckb" autocomplete="off" @(Model.Filter.Roles.Contains(RolesEnum.Tank) ? "checked" : "")> Tank
                                </label>
                                <label class="btn btn-secondary @(Model.Filter.Roles.Contains(RolesEnum.Support) ? "active" : "")">
                                    <input type="checkbox" name="filters[r-s]" id="Supportckb" autocomplete="off" @(Model.Filter.Roles.Contains(RolesEnum.Support) ? "checked" : "")> Support
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <label for="BattleNetAccount">Mode(s)</label><br />
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-secondary @(Model.Filter.Modes.Contains(ModesEnum.Competitive) ? "active" : "")">
                                    <input type="checkbox" name="filters[m-c]" id="compckb" autocomplete="off" @(Model.Filter.Modes.Contains(ModesEnum.Competitive) ? "checked" : "")> Competitive
                                </label>
                                <label class="btn btn-secondary @(Model.Filter.Modes.Contains(ModesEnum.Quick) ? "active" : "")">
                                    <input type="checkbox" name="filters[m-q]" id="quickcbk" autocomplete="off" @(Model.Filter.Modes.Contains(ModesEnum.Quick) ? "checked" : "")> Quick
                                </label>
                                <label class="btn btn-secondary @(Model.Filter.Modes.Contains(ModesEnum.Arcade) ? "active" : "")">
                                    <input type="checkbox" name="filters[m-a]" id="arcadeckb" autocomplete="off" @(Model.Filter.Modes.Contains(ModesEnum.Arcade) ? "active" : "")> Arcade
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Go</button>
                        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Ladies")'">Reset filters</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                <a class="SortingFilterName" asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.Raw(Model.Sorting.NicknameText)</a>
            </th>
            <th>
                <a class="SortingFilterName" asp-action="Index" asp-route-sortOrder="@ViewData["BattleTagSortParam"]">@Html.Raw(Model.Sorting.BTText)</a>
            </th>
            <th>
                <a class="SortingFilterName" asp-action="Index" asp-route-sortOrder="@ViewData["SRSortParam"]">@Html.Raw(Model.Sorting.SRText)</a>
            </th>
            <th>
                Roles
            </th>
            <th>
                Preference
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lady in Model.Ladies as List<LadyModel>)
        {
        <tr>
            <td>
                <span class="role">@Html.Partial("~/Content/Icons/Details.cshtml")</span>
            </td>
            <td>
                @if (!string.IsNullOrEmpty(lady.Overwatch.Avatar))
                    {
                <img src="@Url.Content(lady.Overwatch.Avatar)" class="avatarList rounded-circle" />
                    }
                @Html.DisplayFor(modelItem => lady.Nickname)
            </td>
            <td>
                <a href="@Html.Raw(lady.Overwatch.GetPlayOverwatchUrl())" target="_blank"> @Html.DisplayName(lady.Overwatch.BattleTag.Full) </a>
            </td>
            <td>
                <img class="rankImg" src="@Url.Content(lady.Overwatch.Rank.Image)" alt="@Html.Raw(lady.Overwatch.Rank.Name)" />
                @Html.DisplayFor(modelItem => lady.Overwatch.Rank.SR)
            </td>
            <td>
                <span class="role @if (lady.Overwatch.Roles.DPS) { @Html.Raw("activeIcon") }">
                    @Html.Partial("~/Content/Icons/DPS.cshtml")
                </span>
                <span class="role @if (lady.Overwatch.Roles.Tank) { @Html.Raw("activeIcon") }">
                    @Html.Partial("~/Content/Icons/Tank.cshtml")
                </span>
                <span class="role @if (lady.Overwatch.Roles.Support) { @Html.Raw("activeIcon") }">
                    @Html.Partial("~/Content/Icons/Support.cshtml")
                </span>
            </td>
            <td>
                <span class="role @if (lady.Overwatch.Modes.Competitive) { @Html.Raw("activeIcon") }">
                    @Html.Partial("~/Content/Icons/Competitive.cshtml")
                </span>
                <span class="role @if (lady.Overwatch.Modes.Quick) { @Html.Raw("activeIcon") }">
                    @Html.Partial("~/Content/Icons/Quick.cshtml")
                </span>
                <span class="role @if (lady.Overwatch.Modes.Arcade) { @Html.Raw("activeIcon") }">
                    @Html.Partial("~/Content/Icons/Arcade.cshtml")
                </span>
            </td>
        </tr>
        }
    </tbody>
</table>
