@model IEnumerable<Web.AmazingLadies.Models.LadyModel>
@{
    ViewData["Title"] = "Amazing Ladies Overwatch";
}
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nickname)
            </th>
            <th>
                BattleTag
            </th>
            <th>
                Season Rating
            </th>
            <th>
                Roles
            </th>
            <th>
                Preference
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var lady in ViewData["Ladies"] as List<LadyModel>)
        {
            <tr>
                <td>
                    <span>@Html.Partial("~/Content/Icons/Details.cshtml")</span>
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(lady.Overwatch.Avatar))
                    {
                        <img src="@Url.Content(lady.Overwatch.Avatar)" class="avatarList rounded-circle" />
                    }
                    @Html.DisplayFor(modelItem => lady.Nickname)
                </td>
                <td>
                    <a href="@Html.Raw(lady.Overwatch.GetPlayOverwatchUrl())" target="_blank"> @Html.DisplayName(lady.Overwatch.BattleTag.Full) </a>
                </td>
                <td>
                    <img class="rankImg" src="@Url.Content(lady.Overwatch.Rank.Image)" alt="@Html.Raw(lady.Overwatch.Rank.Name)" />
                    @Html.DisplayFor(modelItem => lady.Overwatch.Rank.SR)
                </td>
                <td>
                    <span class="role @if (lady.Overwatch.Roles.DPS) { @Html.Raw("activeIcon") }">
                        @Html.Partial("~/Content/Icons/DPS.cshtml")
                    </span>
                    <span class="role @if (lady.Overwatch.Roles.Tank) { @Html.Raw("activeIcon") }">
                        @Html.Partial("~/Content/Icons/Tank.cshtml")
                    </span>
                    <span class="role @if (lady.Overwatch.Roles.Support) { @Html.Raw("activeIcon") }">
                        @Html.Partial("~/Content/Icons/Support.cshtml")
                    </span>
                </td>
                <td>
                    <span class="role @if (lady.Overwatch.Modes.Competitive) { @Html.Raw("activeIcon") }">
                        @Html.Partial("~/Content/Icons/Competitive.cshtml")
                    </span>
                    <span class="role @if (lady.Overwatch.Modes.Quick) { @Html.Raw("activeIcon") }">
                        @Html.Partial("~/Content/Icons/Quick.cshtml")
                    </span>
                    <span class="role @if (lady.Overwatch.Modes.Arcade) { @Html.Raw("activeIcon") }">
                        @Html.Partial("~/Content/Icons/Arcade.cshtml")
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>